/* general */
* { box-sizing: border-box;}
a { color: inherit; text-decoration: none; }

html {
    margin: 0;
    font-size: 100%;
    background-color: #fcfcfc;
}

body {
    margin: 0;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}


/* structure */
.topbar {
    background-color: #000000;
}

.midbar {
    background-color: #282A3A;
}

nav, main, .login {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    color: #fff;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0.8em;
}

nav > ul > li:first-child {
    margin-left: 0;
    margin-right: auto;
    font-size: 1.2em;
}

nav > ul > li {
    margin: 0 1em;
}

nav > ul > li:last-child {
    margin-right: 0;
}

nav a:hover, .login a:hover {
    color: #C69749;
}

.login {
    font-size: 0.8em;
    padding: 0.4em 0 0.4em 0.8em;
    color: #fff;
}

.brick {
  background-color: #fff;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.brick-narrow {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    font-size: 1.4em;
    text-align: center;
}

/* tables */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

th {
    background-color: #282A3A;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #C69749;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
}

/* buttons */
.button {
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    margin: 20px 4px 2px 4px;
    display: inline-block;
    border: 2px solid;
    font-size: 0.8em;
    font-weight: bold;
}

.green-button {
    border-color: rgba(11, 102, 35, 0.75);
    color: rgba(11, 102, 35, 0.75);
}

.green-button:hover {
    background-color: rgba(11, 102, 35, 0.2);
}

.gray-button {
    border-color: rgba(66, 66, 66, 0.75);
    color: rgba(66, 66, 66, 0.75);
}

.gray-button:hover {
    background-color: rgba(66, 66, 66, 0.2);
}

.red-button {
    border-color: rgba(220, 53, 69, 0.75);
    color: rgba(220, 53, 69, 0.75);
}

.red-button:hover {
    background-color: rgba(220, 53, 69, 0.2);
}

.big-button {
    border-width: 3px;
    font-size: 1em;
    padding: 8px 16px;
    margin: 24px 0 24px 0;
}

/* forms */
select, input[type=text], input[type=password], input[type=email], textarea {
  width: 100%;
}

label, .label {
  font-size: 0.9em;
  color: #666;
  width: 100%;
  display: inline-block;
}


form ul {
    list-style-type: none;
    padding: 0;
}

.helptext, form ul {
    font-size: 0.8em;
    color: #999;
}

form > ul.errorlist {
    font-size: 0.8em;
    color: rgba(220, 53, 69, 1);
}

/* pagination */
.pagination {
  font-weight: bold;
  vertical-align: middle;
  margin: 12px 0 12px 0;
}

.pagination div {
  display: flex;
  justify-content: center;
  padding: 8px 16px;
}

.pagination-arrow {
  border: #d5d6da solid 1px;
}

.pagination-arrow:hover {
  background-color: #d5d6da;
}

/* messages */
.messages {
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding-left: 12px;
  font-size: 0.8em;
  line-height: 1.4em;
  border-radius: 4px;
  font-weight: bold;
}

.success {
  background-color: rgba(11, 102, 35, 0.2);
  color: rgba(11, 102, 35, 0.9);
}

.error {
  background-color: rgba(220, 53, 69, 0.2);
  color: rgba(220, 53, 69, 0.9);
}


.info {
  background-color: rgba(1, 87, 155, 0.2);
  color: rgba(1, 87, 155, 0.9);
}

.close-button {
  padding: 8px 12px;
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}

/* utils */
.vertical-center {
    display: flex;
    justify-content: center;
}

.link {
  font-weight: bold;
  font-size: 0.9em;
}

.link:hover {
  color: #C69749;
  cursor: pointer;
}

/* wrapper and push are used to make footer sticky */
.wrapper {
  min-height: 100%;
  margin-bottom: -48px;
}

footer, .push {
  height: 48px;
}